body { 
  margin: 0px; 
  overflow: hidden; 
  font-family: calibri; 
  background: #E9F7FC;
  overflow-y: scroll;
}

.header{
  background:lightgreen;
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  text-align:center;
}
.header2{
  background:lightgreen;
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  text-align:center;
}

h1 {
  position: relative;
  text-align:center;
  line-height: 1.4;
  padding:0.25em 1em;
  display: inline-block;
  top:0;
  width:700px;
  margin-right: auto;
  margin-left : auto;
}

h4 {
  position: relative;
  text-align:center;
  line-height: 1.4;
  padding:0.25em 1em;
  display: inline-block;
  top:0;
  width:700px;
  margin-right: auto;
  margin-left : auto;
}

.box1 {
  display: inline-block;
  padding: 20px;
  height: 100px;
  font-weight: bold;
  border: solid 3px #000000;
  margin: 10px;
}
.box1 p {
  text-align: center;
  margin: 0; 
  font-size: 20px;
  padding: 5px;
}

/* 入力フォーム */
label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
  margin: .4rem 0;
}

.cp_iptxt {
	position: relative;
	width: 80%;
	margin: 40px 3%;
}
.cp_iptxt input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #242222;
	border: 1px solid #1b2538;
	border-radius: 4px;
}
.ef input[type='text']:focus {
	border: 1px solid #da3c41;
	outline: none;
	box-shadow: 0 0 5px 1px rgba(218,60,65, .5);
}

/* 中央揃え　*/
.container {
  font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
  text-align: center;
  padding-top: 10px;
}

/* ボタン */
#Button1 {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  border: 2px solid #9ec34b;
  font-size: 16px;
  color: #9ec34b;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: .4s;
}

#Button1:hover {
  background-color: #9ec34b;
  border-color: #cbe585;
  color: #FFF;
}

@media screen and (max-width: 950px) { 
  .box1 {
    display: inline-block;
    padding: 50px;
    height: 80px;
    font-weight: bold;
    border: solid 3px #111111;
    margin: 10px;
  }
  .box1 p {
    text-align: center;
    margin: 0;
    font-size: 20px;
    padding: 5px;
  }
}